<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vue practice</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      
    <div id="app">
      <div class="container" v-cloak>
        
        <select class="" v-model="selected" multiple>
          <option disabled value="">Plsease select one</option>
          <option v-for="color in colors">{{ color }}</option>
        </select>
        
        <hr>
        <pre>{{ $data }}</pre>
        
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="/script.js" charset="utf-8"></script>
  </body>
</html>
