.container {
  margin: auto;
  max-width: 980px;
}

[v-cloak] {
  display: none;
}

.large {
  font-size: 2em;
}

.text-danger {
  color: red !important;
}

.bg-gray {
  background: gray;
}

.text-blue {
  color: blue;
}
